# Ignorar node_modules
node_modules/

# Ignorar archivos grandes o temporales
*.log
*.tmp
*.bak

# Ignorar bases y datasets (pero permitir productos.json)
Imagenes_productos_proveedores/
bases/

# Ignorar scripts que no van a Vercel
descargar_imagenes.js
exportar_base_datos_a_json.js
listar_tablas.js
generarProductos.js
servidor_mega.js
check_proveedores.js
productos_embeddings.json
# Ignorar carpetas de desarrollo
.vscode/

# Ignorar scripts locales (no producción)
scripts/

# Ignorar archivos de entorno
.env
.env*
.env.*

# Ignorar archivos batch locales
*.bat

# PERMITIR SOLO LO NECESARIO
!index.html
!api/
!api/**
!utils/
!utils/**
!productos.json
!package.json
!package-lock.json

.vercel
